.Rproj.user
.Rhistory
.RData
.Ruserdata
gganim_plot0063.png
gganim_plot0020.png
gganim_plot0022.png
gganim_plot0025.png
gganim_plot0027.png
gganim_plot0029.png
gganim_plot0030.png
gganim_plot0031.png
gganim_plot0032.png
gganim_plot0034.png
gganim_plot0035.png
gganim_plot0042.png
gganim_plot0043.png
gganim_plot0044.png
gganim_plot0045.png
